body {
	width: 98%;
	min-width: 900px;
	max-width: 1050px;
	font-family: Baskerville Old Face, Century Gothic, Arial, Cambria, Calibri;
	font-weight: normal;
	font-size: 16px;
	margin: 0px auto 0px auto;
	border: 1px solid black;
	background-image: url(http://hdblackwallpaper.com/wallpaper/2015/12/red-and-black-background-picture-16-cool-wallpaper.jpg);
	background-repeat: repeat;
	background-attachment: fixed;
}

p {
	text-align: justify;
	color: white;
}

#mainContainer {
	width: 100%;
	background-image: url(http://1.bp.blogspot.com/-yQAEbNQJxac/Tfy2PfDzlFI/AAAAAAAACJA/5DQoLLOHAxg/s1600/Cool+Texture+Wallpaper+-+www.OriginalWalls.Blogspot.Com++%25283%2529.jpg);
}

#mainBody {
	padding: 10px;
}

#headerIMG {
	width: 100%;
	height: 250px;
}

nav.horizontalNAV {
	border: 5px solid black; 
	position: relative;
	text-align: center;
	background-image: url(http://previews.123rf.com/images/sirylok/sirylok1207/sirylok120700026/14395805-Messy-red-ink-splashed-on-black-background-abstract-paint-splash-illustration--Stock-Illustration.jpg);
	margin: 0px;
	padding: 0px;
	top: -5px;
}

nav.horizontalNAV ul {
	list-style: none;
}

nav.horizontalNAV li a {
	text-decoration: none;
	color: red;
	font-size: 30px;
	font-family: Baskerville Old Face;
}

nav.horizontalNAV li {
	display: inline-block;
	border: 5px solid rgb(20, 20, 20);
	background-color: rgb(40, 40, 40);
	padding: 10px;
}

nav.horizontalNAV a:hover {
	color: white;
}

#Intro {
	background-image: url(https://wallpaperscraft.com/image/red_black_abstract_496_1920x1080.jpg);
	background-size: 100%;
    background-repeat: repeat;
	border: 10px solid black;
}

#header {
	border: 5px solid black;
	background-image: url(https://www.colourbox.com/preview/1170543-red-and-black-floral-inspired-background-that-seamlessly-tiles.jpg);
	background-size:100%;
}
